PORT=3000

# MSSQL connection
DB_HOST=192.168.100.181
DB_PORT=1433
DB_USERNAME=SA
DB_PASSWORD=<PASTE_YOUR_PASSWORD_HERE>
DB_NAME=master

# SQL Server TLS options
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true
